@model IEnumerable<SIC_AVO_DEV.ViewModels.ContentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />
<table id="tblListado" class="table" style="width: 1200px;">
    <tr>
        <th>
            <b>Titulo</b>
        </th>
        <th>
            <b>Content</b>
        </th>
        <th>
            <b>Imagen</b>
        </th>
        <th>
            <b>Descripcion</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td style="width: 500px;">
                @Html.Raw(item.Contents)
            </td>
            <td>
                <img src="/Content/RetrieveImage/@item.ID" alt="" height=100 width=200 />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
        </tr>
    }
</table>

<script>
    var tablaSitios;
    $(document).ready(function () {
        console.log("si")
        CargarLista();

    });
    function CargarLista() {
        tablaSitios = $("#tblListado").DataTable({
            dom: "<'card-header'<'.titleSegui'><'d-flex justify-content-md-end'fB>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
            processing: true,
            destroy: true,
            info: true,
            paging: true,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columnDefs: [
                { targets: [0, 1, 2, 3, 4, 5, 6], searchable: false, orderable: false }
            ],
            lengthChange: false,
            order: [[1, "asc"]]
</script>