
@{
    ViewBag.Title = "Sitios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Administración de Sitios</h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
                <input type="text" placeholder="Ingrese nombre Sitio"/>
                <input type="text" placeholder="URL" />
                <select id="selTipoSitio"></select>
                <textarea placeholder="descripción del sitio"></textarea>
            </div>
            <div>
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>

