
@{
    ViewBag.Title = "Sitios_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sitios_List</h2>

<div>
    <table id="tblAdminSitios"></table>
</div>
<script>
    var tablaSitios;

    function CargarListaSitios() {
        tablaSitios = $("#tblAdminSitios").DataTable({
            processing: true,
            destroy: true,
            info: true,
            paging: true,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columnDefs: [
                //{ targets: [0, 1, 2, 3, 4, 5, 6], searchable: false, orderable: false }
            ],
            lengthChange: false,           
            ajax: {
                url: "../Sitios/GetListSitios",
                type: "POST",
                dataType: "json",
                data: null,
            },
            columns: [
                { data: "TERMINAL", title: "Terminal", name: "TERMINAL" },
                { data: "FOLIO", title: "Folio", name: "FOLIO" },               
                {
                    data: null, title: "Fecha Fin", name: "FECHA_FIN", render:
                        function (full) {
                            {
                                if (full.FECHA_FIN != null) {
                                    return moment(full.FECHA_FIN).format('DD/MM/YYYY HH:mm');
                                } else {
                                    return "";
                                }



                            }
                        }
                },
                { data: "EVENTO_FIN", title: "Evento Fin", name: "EVENTO_FIN" },
                { data: "ORIGEN", title: "Origen", name: "ORIGEN" },
                { data: "ROL_RESPONSABLE", title: "Responsable", name: "ROL_RESPONSABLE" },
                
            ],
            language: {
              //  "url": "../Plugins/DataTables/js/Spanish.json"
            },
            buttons: [
                //{ extend: 'excel', className: 'btn btn-success', text: '', action: function () { getExcel() }, init: function (api, node, config) { $(node).removeClass('btn-secondary') } }
            ],
            order: [[1, "asc"]]
        });
    }
</script>